@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+NG+Modern&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

.root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.title_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 700px) {
  .title_container h2 {
    font-size: 25px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
header h1 a {
  color: #333333;
  text-decoration: none;
  font-size: 35px;
  font-family: "Playwrite NG Modern", cursive;
}
@media (max-width: 700px) {
  header h1 a {
    font-size: 25px;
  }
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}
@media (max-width: 700px) {
  header ul {
    display: none;
  }
}
header ul li {
  display: flex;
}
header ul li a {
  color: #333333;
  text-decoration: none;
}
header ul li a div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li a div .wishlist_count {
  padding: 3px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background-color: #d32f2f;
  border-radius: 50%;
  color: #f4f4f4;
  margin-left: 5px;
}
header ul li .header_button {
  background-color: #333333;
  border: none;
  border-radius: 6px;
  color: #f4f4f4;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 20px;
}
header .burger_menu {
  display: none;
  font-size: 35px;
  cursor: pointer;
}
@media (max-width: 700px) {
  header .burger_menu {
    display: block;
  }
}

.drop_menu_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(7, 0, 0, 0.73);
  z-index: 1000;
  padding: 30px;
}
.drop_menu_wrapper .burgerMenuToggleButton {
  font-size: 25px;
  border: none;
  padding: 10px;
  background-color: #f4f4f4;
  color: #d32f2f;
  width: 100%;
}
.drop_menu_wrapper ul {
  list-style: none;
}
.drop_menu_wrapper ul li {
  width: 100%;
  padding: 10px;
  background-color: #f4f4f4;
}
.drop_menu_wrapper ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}
.drop_menu_wrapper ul li a div {
  display: flex;
  align-items: center;
}
.drop_menu_wrapper ul li a div .wishlist_count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #d32f2f;
  border-radius: 50%;
  color: #f4f4f4;
  margin-left: 5px;
}
.drop_menu_wrapper ul li .header_button {
  width: 100%;
  background-color: #333333;
  border: none;
  border-radius: 6px;
  color: #f4f4f4;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 20px;
}

.posts_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 580px;
  gap: 20px;
}
.posts_container .post {
  flex: 0 1 calc(50% - 10px);
}
@media (max-width: 700px) {
  .posts_container .post {
    flex-basis: 100%;
  }
}
.posts_container .post .image_container {
  position: relative;
  height: 300px;
}
.posts_container .post .image_container button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.posts_container .post .image_container button:hover {
  color: #d32f2f;
}
.posts_container .post .image_container .removeLikeButton {
  color: #d32f2f;
}
.posts_container .post .image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  transition: 0.3s;
}
.posts_container .post .title {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.posts_container .post .title a {
  text-decoration: none;
}
.posts_container .post .title a h2 {
  color: #333333;
}
.posts_container .post .title .delete_button {
  background-color: #f4f4f4;
  color: #d32f2f;
  border: 1px solid #d32f2f;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.posts_container .post .title .delete_button:hover {
  color: #f4f4f4;
  background-color: #d32f2f;
}
.posts_container .post .username {
  margin: 10px 0;
}
.posts_container .post .username span {
  font-weight: bold;
}

.pagination_container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px auto 60px auto;
}
.pagination_container button {
  background-color: #0057ad;
  color: #f4f4f4;
  border: none;
  cursor: pointer;
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 15px;
}

.single_post_container {
  margin: 20px auto 100px auto;
  max-width: 1000px;
}
.single_post_container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 20px;
}
.single_post_container .single_post_title_container {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin-bottom: 20px;
}
.single_post_container .single_post_title_container button {
  border: none;
  background-color: #001dad;
  color: #f4f4f4;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 50px;
}
footer .footer_info {
  width: 100%;
}
footer .footer_info h3 {
  font-size: 25px;
}
footer .footer_info .socials_container {
  display: flex;
  gap: 10px;
  font-size: 15px;
  margin-top: 100px;
}
footer .footer_menu {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
}
footer .footer_menu ul {
  list-style: none;
}
footer .footer_menu ul li {
  line-height: 50px;
}
footer .footer_menu ul li a {
  color: #333333;
  text-decoration: none;
}

.add_post_button a {
  text-decoration: none;
}
.add_post_button a button {
  background-color: #333333;
  color: #f4f4f4;
  display: block;
  margin: 0px auto 30px auto;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  transition: 0.4s;
}
.add_post_button a button:hover {
  background-color: #d32f2f;
}

.add_photo_container {
  max-width: 900px;
  margin: 0 auto;
}
.add_photo_container form input {
  display: none;
}
.add_photo_container .image_container {
  width: 100%;
  margin-top: 30px;
}
.add_photo_container .image_container .image_preview {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background-color: #333333;
  color: #f4f4f4;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.add_photo_container .add_post_title_container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 35px;
}
.add_photo_container .add_post_title_container input {
  width: 100%;
  height: 40px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #333333;
  transition: 0.4s;
  padding-left: 15px;
  font-size: 20px;
}
.add_photo_container .add_post_title_container input:focus {
  border: 1px solid #d32f2f;
  outline: none;
}
.add_photo_container button {
  background-color: #333333;
  color: #f4f4f4;
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-size: 25px;
  transition: 0.4s;
}
.add_photo_container button:hover {
  background-color: #d32f2f;
}

.closed {
  display: none;
}

.form_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_wrapper .form_container {
  background-color: #333333;
  color: #f4f4f4;
  padding: 30px 60px;
}
.form_wrapper .form_container div {
  margin-bottom: 10px;
}
.form_wrapper .form_container div h2 {
  font-size: 35px;
}
.form_wrapper .form_container div input {
  width: 300px;
  height: 40px;
  padding-left: 15px;
  font-size: 15px;
  border: none;
}
.form_wrapper .form_container div button {
  background-color: #333333;
  color: #f4f4f4;
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-size: 25px;
  transition: 0.4s;
}
.form_wrapper .form_container div button:hover {
  background-color: #d32f2f;
}
.form_wrapper .form_container div a {
  color: #d32f2f;
  font-size: 15px;
}

.error_container {
  color: #d32f2f;
}

/*# sourceMappingURL=style.css.map */
